## Sample basic information

### 1. Import Raw Data 
(survey's answers tabular data)
#### Get shape, data types, nulls and columns (questions)

In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('./data/Distance_Learning_Data.xlsx')

In [3]:
df.shape

(4727, 237)

In [4]:
df.dtypes.head(20)

Date of data collection                                          object
Enumerator full name                                             object
State                                                            object
County                                                           object
Payam                                                            object
Does the location have radio coverage?                           object
School Type Level                                                object
School Category                                                  object
What is the School location                                      object
School                                                           object
School Name                                                      object
SAMS School Code                                                 object
Title                                                            object
Name                                                             object
Gender                                                           object
Age                                                             float64
Grade/Class                                                      object
Do you have difficulty seeing, even if wearing glasses?          object
Do you have difficulty hearing, even if using a hearing aid?     object
Do you have difficulty walking or climbing steps?                object
dtype: object

In [5]:
df.isnull().sum().head(20)

Date of data collection                                            0
Enumerator full name                                               0
State                                                              0
County                                                             0
Payam                                                              0
Does the location have radio coverage?                             0
School Type Level                                                804
School Category                                                  804
What is the School location                                      804
School                                                           804
School Name                                                     3841
SAMS School Code                                                1690
Title                                                            804
Name                                                             804
Gender                                                           804
Age                                                              804
Grade/Class                                                     2217
Do you have difficulty seeing, even if wearing glasses?         2217
Do you have difficulty hearing, even if using a hearing aid?    2217
Do you have difficulty walking or climbing steps?               2217
dtype: int64

### 2. Basic categorical variables
Some of the columns/variables that describes the survey's target.

#### 2.a. Title

In [6]:
df.Title.value_counts()

Learner                    2510
Parent/guardian/sibling    1185
Teacher                     228
Name: Title, dtype: int64

#### 2.b. Age

In [7]:
df.Age.value_counts()[:10]

15.0    349
16.0    286
14.0    269
17.0    256
18.0    240
13.0    230
12.0    162
19.0    157
20.0    149
45.0     82
30.0     82
32.0     77
40.0     76
11.0     75
22.0     71
21.0     68
35.0     67
38.0     59
10.0     57
Name: Age, dtype: int64

#### 2.c. Gender

In [8]:
df.loc[:,'Gender '].value_counts()

Female    2031
Male      1892
Name: Gender , dtype: int64

#### 2.d. School Level

In [9]:
df.loc[:,'School Type Level'].value_counts()

Primary      3271
Secondary     612
ALP            34
ECD             4
AES             2
Name: School Type Level, dtype: int64

Filtered by Age

In [10]:
# first 20 values
df.loc[df.loc[:,'School Type Level'] == 'Primary','Age'].value_counts()[:20]

15.0    322
14.0    259
16.0    258
13.0    225
17.0    207
18.0    176
12.0    159
19.0    102
20.0     86
Name: Age, dtype: int64

#### 2.d. Type of school by location

In [11]:
df.loc[:,'What is the School location'].value_counts()

Urban    2118
Rural    1805
Name: What is the School location, dtype: int64

Filtered by school level<br>
Primary

In [12]:
df.loc[df.loc[:,'School Type Level'] == 'Primary','What is the School location'].value_counts()

Rural    1655
Urban    1616
Name: What is the School location, dtype: int64

Secondary

In [13]:
df.loc[df.loc[:,'School Type Level'] == 'Secondary','What is the School location'].value_counts()

Urban    463
Rural    149
Name: What is the School location, dtype: int64

#### 2.e. School Category

In [14]:
df.loc[:,'School Category'].value_counts()

Non-IDP School    3469
IDP School         454
Name: School Category, dtype: int64

#### 2.f. State

In [15]:
df.State.value_counts()

Western Equatoria          712
Central Equatoria          703
Unity                      702
Eastern Equatoria          651
Western Bahr el Ghazal     582
Northern Bahr el Ghazal    415
Lakes                      373
Warrap                     281
Upper Nile State           192
Jonglei                    116
Name: State, dtype: int64

### 3. Save variables

In [16]:
data = df[['Gender ','Age','Title','School Type Level','What is the School location','School Category','State']]

In [17]:
data.isnull().sum() / data.notnull().sum()

Gender                         0.204945
Age                            0.204945
Title                          0.204945
School Type Level              0.204945
What is the School location    0.204945
School Category                0.204945
State                          0.000000
dtype: float64

In [18]:
data.to_csv('data/desc_data.csv', index=False)