## Collapse small values

### 1. Import Raw Data 
(survey's answers tabular data)

In [496]:
import pandas as pd
import numpy as np

In [55]:
df = pd.read_excel('data/dataset_malu_nue.xlsx', index=False)

### 2. Collapse "other" answers

- ### Q9_Which radio station(s)/FM are available in your area?
- ### Q9_10Other (BT

In [460]:
df.iloc[:,[62, 71]]

     Q9_Which radio station(s)/FM are available in your area?  Q9_10Other
0                                                 Other               1.0
1                                                 Other               1.0
2                                                 Other               1.0
3                                                 Other               1.0
4                                    Radio one FM Other               1.0
...                                                 ...               ...
4722                                    Miraya FM Other               1.0
4723                                          Miraya FM               0.0
4724                                              Other               1.0
4725                                          Miraya FM               0.0
4726                                              Other               1.0

[4727 rows x 2 columns]

- ### Which other Radio Station do you listen to during education on air program? (CP)

In [91]:
df.iloc[:,93].notnull().sum()

265

In [462]:
df.iloc[:,93].value_counts()

Jamjang FM 89.4                    34
89 FM radio                        17
89 fm                              11
Radio Jonglei                      10
Good News Radio 89 FM              10
                                   ..
I have not listen to any lesson     1
98 FM  radio Rumbek station         1
No radio                            1
Any of them                         1
Voice of hope.                      1
Name: Which other Radio Station do you listen to during education on air program?, Length: 128, dtype: int64

In [64]:
df['other_radio_during_ed'] = df[df.iloc[:,93].notnull()].iloc[:,93]

In [79]:
df.loc[df['other_radio_during_ed'].notnull(),'other_radio_during_ed'] = 1

In [82]:
df['other_radio_during_ed'].sum()

265

- ### If no, What makes you miss radio based lessons?
- ### If other please specify (DC)

In [220]:
df.iloc[:,106].value_counts()

Am not interested                                                  2
If my phone put off                                                1
I thought that school may not open again                           1
When the phone is not charged.                                     1
My phone was washed by rain                                        1
The power was low                                                  1
It's always at night                                               1
No having personal radio or phone.                                 1
Power is always low in phone I use                                 1
Football                                                           1
When phone is taken for charging                                   1
When phone is power off                                            1
Teaching on air not as interesting as in class                     1
Its intended for students                                          1
Sometimes playing balls and going to market places                 1
Phone power is a problem and it was for someone                    1
My parents doesn't open daily.                                     1
When I get hard to understand                                      1
I'm not understanding something                                    1
Lack of battery                                                    1
Power problem                                                      1
I don't have radio                                                 1
I can only access the radio when my brother is at home with me.    1
Mayardit FM                                                        1
Sometimes it is only for lower classes                             1
Am engaged in other activities                                     1
Have no full information about it.                                 1
Have not attended                                                  1
Not good for me                                                    1
Sometimes my dad can not be home during lessons time.              1
Sometimes taking from my mother                                    1
Because I don't understand                                         1
I don't have money to buy a radio                                  1
I only attended for primary schools lessons                        1
The lesson for our class was not aired.                            1
I tried to listen but I don't understand                           1
When there is no power in phone                                    1
My phone some times put off                                        1
The lessons broadcast are not part of carrier                      1
Sometimes no battery                                               1
Low power because I use phone                                      1
I do revised my notes                                              1
I don't understand radio lessons                                   1
Battery went off                                                   1
Lack of charging centre                                            1
It's because the lessons are for primary school Learners           1
Can't asked questions due to busy lines                            1
Battery is very weak. Can't afford cash to purchase new one        1
The radio is not mind                                              1
Holiday package                                                    1
Am not interested on radio lessons                                 1
Name:  If other please specify, dtype: int64

In [463]:
df.iloc[:,106].notnull().sum()

52

In [222]:
df['miss_lessons_other_reason'] = df[df.iloc[:,106].notnull()].iloc[:,106]

In [223]:
df.loc[df['miss_lessons_other_reason'].notnull(),'miss_lessons_other_reason'] = 1

In [224]:
df['miss_lessons_other_reason'].sum()

52

- ### Q45_Where do you usually listen to the radio lessons?

- ### Q45_1Inside someoneâ€™s home
- ### Q45_2Outside in someoneâ€™s compound
- ### Q45_3Inside a shop or other building
- ### Q45_4Outside of a shop or other building

- ### Specify other (GN)

In [198]:
df.iloc[:,[190, 191, 192, 193, 194, 195]]

,Q45_1Inside someoneâ€™s home,Q45_2Outside in someoneâ€™s compound,Q45_3Inside a shop or other building,Q45_4Outside of a shop or other building,Q45_5Other (specify),Specify other.3
0,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN
4,0.0,0.0,0.0,0.0,1.0,Inside my house
...,...,...,...,...,...,...
4722,1.0,0.0,0.0,0.0,0.0,NaN
4723,1.0,0.0,0.0,0.0,0.0,NaN
4724,NaN,NaN,NaN,NaN,NaN,NaN
4725,0.0,1.0,0.0,0.0,0.0,NaN
4726,1.0,0.0,0.0,0.0,0.0,NaN

In [479]:
# see "other" places
df.iloc[:,195].value_counts().head(20)

At home                 71
Inside my house         26
In our home             16
Inside our house        14
No                      13
In my house             11
Inside our compound      9
At home                  9
None                     8
Outside our house        8
At our home              7
Inside my own house      7
Home                     7
Inside the home          6
In our house             6
School                   6
In my home               6
I don't listen           5
At my home               5
Inside our house.        5
Name: Specify other.3, dtype: int64

In [465]:
# exclude inside house
mask_house = df.iloc[:,195].str.contains('home|house|Home|House|fence|room', na=False) & ~(df.iloc[:,195].str.contains('outside|Outside', na=False))
mask_house.sum()

347

In [466]:
# exclude compound
mask_compoud = df.iloc[:,195].str.contains('compound|Compound', na=False) & \
                ~(df.iloc[:,195].str.contains('outside|Outside', na=False)) & \
                ~(df.iloc[:,195].str.contains('home|house|Home|House|fence|room', na=False))
mask_compoud.sum()

33

In [480]:
# exclude school
mask_school = ~df.iloc[:,195].str.contains('compound|Compound', na=False) & \
                (df.iloc[:,195].str.contains('school|School', na=False))
mask_school.sum()

9

In [406]:
masks = mask_school | mask_house | mask_compoud

In [481]:
masks.sum()

389

In [490]:
df['other_place_listen'] = df.iloc[:,195]

In [500]:
df.loc[masks,'other_place_listen'] = np.NaN
df.loc[df.other_place_listen.notnull(),'other_place_listen'] = 1

In [505]:
df['other_place_listen'].isnull().sum(), df['other_place_listen'].notnull().sum()

(4581, 146)

- ### WQ68_hat devices are available for eLearning in the school/area?
- ### If other please specify (HR)

In [414]:
df.iloc[:,225].value_counts()

Physical radio                                      2
Radio                                               1
Internet connection                                 1
Non.                                                1
Phones                                              1
I don't know their types but they are there         1
No relearning material available in schools here    1
Computer                                            1
Name: If other please specify , dtype: int64

In [417]:
df.iloc[:,224].value_counts()

0.0    233
1.0      9
Name: Q68_6Other, dtype: int64

In [448]:
# exclude devices
index_dev = df[df.iloc[:,225].str.contains('radio|Radio|Internet|Phones|Computer') == True].iloc[:,225].index

In [456]:
# get other answers
index_other = df[df.iloc[:,225].str.contains('radio|Radio|Internet|Phones|Computer') == False].iloc[:,225].index

In [451]:
df['other_dev'] = df.iloc[:,225]

In [457]:
df.loc[index_dev, 'other_dev'] = 0
df.loc[index_other, 'other_dev'] = 1