## Collapse small values

### 1. Import Raw Data 
(survey's answers tabular data)

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel('data/Distance_Learning_Data.xlsx', index=False)

### 2. Collapse "other" answers

- ### Q9_Which radio station(s)/FM are available in your area?
- ### Q9_10Other (BS)

In [3]:
df.iloc[:,[61,71]].head(5)

,Q9_Which radio station(s)/FM are available in your area?,Other radio/FM stations available in the area
0,Other,DonvoscoFM and Door FM
1,Other,DoorFM and DonvoscoFM
2,Other,DoorFM and DonvoscoFM
3,Other,DoorFM and DonvoscoFM
4,Radio one FM Other,DonvoscoFM and Door FM

In [4]:
df.iloc[:,71].value_counts()[:20]

Mayardit fm and kuajok Fm       109
Anisa and Yambio fm              86
Jamjang FM 89.4                  75
Kondial FM                       75
Akol Yam FM                      54
Anisa and Yambio FM              47
Anisa and yambio fm              46
Akol Yam                         40
DonvoscoFM and Door FM           39
Nile FM                          37
Singaita FM                      36
Radio Jonglei                    32
Voice of hope                    31
Mingkaman 100fm                  29
89 FM radio                      29
Yambio fm                        26
FM 98 and radio good news 89     25
Yambio FM                        25
Werbei                           24
Akolyam                          23
Name: Other radio/FM stations available in the area, dtype: int64

In [10]:
mask_radio_6 = df.iloc[:,71].str.contains('89', na=False)
mask_radio_6.sum()

247

In [13]:
mask_radio_8 = df.iloc[:,71].str.contains('Akol', na=False)
mask_radio_8.sum()

259

In [15]:
mask_radio_8 = df.iloc[:,71].str.contains('88', na=False)
mask_radio_8.sum()

28

In [16]:
mask_radio_8 = df.iloc[:,71].str.contains('98', na=False)
mask_radio_8.sum()

132

In [ ]:
mask_radio_8 = df.iloc[:,71].str.contains('Akol', na=False)
mask_radio_8.sum()

In [17]:
mask_radio_8 = df.iloc[:,71].str.contains('Akol', na=False)
mask_radio_8.sum()

259

In [18]:
mask_radio_7 = df.iloc[:,71].str.contains('89', na=False)
mask_radio_7.sum()

247

In [5]:
mask_radio_5 = df.iloc[:,71].str.contains('Anisa', na=False)
mask_radio_5.sum()

268

In [14]:
#mask_radio_4 = df.iloc[:,71].str.contains('Akol Yam', na=False)
#mask_radio_4.sum()

In [51]:
mask_radio_3 = df.iloc[:,71].str.contains('Jamjang|jamjang', na=False)
mask_radio_3.sum()

82

In [50]:
mask_radio_3 = df.iloc[:,71].str.contains('Kondial|kondial', na=False)
mask_radio_3.sum()

85

In [48]:
mask_radio_1 = df.iloc[:,71].str.contains('Mayardit|mayardit', na=False)
mask_radio_1.sum()

155

In [49]:
mask_radio_2 = df.iloc[:,71].str.contains('kuajok|Kuajok', na=False)
mask_radio_2.sum()

143

In [46]:
mask_radio = df.iloc[:,71].str.contains('Yambio|yambio', na=False)
df[mask_radio].iloc[:,71]

28        Anisa and Yambio FM
46      Yambio FM and Anisa FM
78                  Yambio FM
98                  Yambio FM
112                  Yambio FM
                 ...
3897                 Yambio FM
3898                 Yambio FM
3899       Yambio and Anisa FM
3900                 Yambio FM
3901                 Yambio FM
Name: Other radio/FM stations available in the area, Length: 366, dtype: object

In [5]:
df['Q9_other_radio_av'] = df.iloc[:,71]
df.loc[df['Q9_other_radio_av'].notnull(), 'Q9_other_radio_av'] = 1

In [6]:
df['Q9_other_radio_av'].value_counts()

1    2114
Name: Q9_other_radio_av, dtype: int64

- ### Q15_Which radio station(s) do you listen to during radio lessons?
- ### Which other Radio Station do you listen to during education on air program? (CO)

In [7]:
df.iloc[:,92].notnull().sum()

265

In [8]:
df.iloc[:,92].value_counts()

Jamjang FM 89.4                                     34
89 FM radio                                         17
89 fm                                               11
Radio Jonglei                                       10
Good News Radio 89 FM                               10
                                                    ..
I actually don't listen to the lessons on radio      1
Radio Jonglei 95.9                                   1
I only hear I couldn't remember the station          1
No other radio.                                      1
No radio                                             1
Name: Which other Radio Station do you listen to during education on air program?, Length: 128, dtype: int64

In [9]:
df['Q15_other_radio_during_ed'] = df[df.iloc[:,92].notnull()].iloc[:,92]

In [10]:
df.loc[df['Q15_other_radio_during_ed'].notnull(),'Q15_other_radio_during_ed'] = 1

In [11]:
df['Q15_other_radio_during_ed'].notnull().sum()

265

- ### Q17_If no, What makes you miss radio based lessons? 
- ### If other please specify (DB)

In [12]:
df.iloc[:,105].value_counts()

Am not interested                                                  2
Because I don't understand                                         1
I don't have radio                                                 1
Low power because I use phone                                      1
Sometimes playing balls and going to market places                 1
When there is no power in phone                                    1
Have not attended                                                  1
My phone was washed by rain                                        1
Not good for me                                                    1
When phone is taken for charging                                   1
My phone some times put off                                        1
Am not interested on radio lessons                                 1
Can't asked questions due to busy lines                            1
I don't have money to buy a radio                                  1
Phone power is a problem and it was for someone                    1
Sometimes my dad can not be home during lessons time.              1
Holiday package                                                    1
I do revised my notes                                              1
The lessons broadcast are not part of carrier                      1
When phone is power off                                            1
Sometimes it is only for lower classes                             1
If my phone put off                                                1
Sometimes taking from my mother                                    1
My parents doesn't open daily.                                     1
Football                                                           1
I only attended for primary schools lessons                        1
Battery went off                                                   1
When the phone is not charged.                                     1
Have no full information about it.                                 1
Lack of battery                                                    1
The power was low                                                  1
I can only access the radio when my brother is at home with me.    1
The lesson for our class was not aired.                            1
I'm not understanding something                                    1
Teaching on air not as interesting as in class                     1
The radio is not mind                                              1
Battery is very weak. Can't afford cash to purchase new one        1
Sometimes no battery                                               1
I thought that school may not open again                           1
I don't understand radio lessons                                   1
Am engaged in other activities                                     1
Its intended for students                                          1
No having personal radio or phone.                                 1
Lack of charging centre                                            1
When I get hard to understand                                      1
Power problem                                                      1
It's because the lessons are for primary school Learners           1
It's always at night                                               1
I tried to listen but I don't understand                           1
Mayardit FM                                                        1
Power is always low in phone I use                                 1
Name:  If other please specify, dtype: int64

In [13]:
df.iloc[:,105].notnull().sum()

52

In [14]:
df['Q17_miss_lessons_other_reason'] = df[df.iloc[:,105].notnull()].iloc[:,105]

In [15]:
df.loc[df['Q17_miss_lessons_other_reason'].notnull(),'Q17_miss_lessons_other_reason'] = 1

In [16]:
df['Q17_miss_lessons_other_reason'].sum()

52

- ### Q45_Where do you usually listen to the radio lessons?

- ### Q45_1Inside someone’s home
- ### Q45_2Outside in someone’s compound
- ### Q45_3Inside a shop or other building
- ### Q45_4Outside of a shop or other building

- ### Specify other (GN)

In [17]:
df.iloc[:,[189, 190, 191, 192, 193, 194]]

,Q45_1Inside someone’s home,Q45_2Outside in someone’s compound,Q45_3Inside a shop or other building,Q45_4Outside of a shop or other building,Q45_5Other (specify),Specify other.3
0,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN
4,0.0,0.0,0.0,0.0,1.0,Inside my house
...,...,...,...,...,...,...
4722,1.0,0.0,0.0,0.0,0.0,NaN
4723,1.0,0.0,0.0,0.0,0.0,NaN
4724,NaN,NaN,NaN,NaN,NaN,NaN
4725,0.0,1.0,0.0,0.0,0.0,NaN
4726,1.0,0.0,0.0,0.0,0.0,NaN

In [39]:
# see "other" places
df.iloc[:,194].value_counts().head(20)

At home                 71
Inside my house         26
In our home             16
Inside our house        14
No                      13
In my house             11
Inside our compound      9
At home                  9
None                     8
Outside our house        8
At our home              7
Inside my own house      7
Home                     7
Inside the home          6
School                   6
In my home               6
In our house             6
At my home               5
Inside our house.        5
In our compound          5
Name: Specify other.3, dtype: int64

In [41]:
# exclude inside house
mask_house = df.iloc[:,194].str.contains('home|house|Home|House|fence|room', na=False) & ~(df.iloc[:,194].str.contains('outside|Outside', na=False))
mask_house.sum()

347

In [20]:
# exclude compound
mask_compoud = df.iloc[:,194].str.contains('compound|Compound', na=False) & \
                ~(df.iloc[:,194].str.contains('outside|Outside', na=False)) & \
                ~(df.iloc[:,194].str.contains('home|house|Home|House|fence|room', na=False))
mask_compoud.sum()

33

In [21]:
# exclude school
mask_school = ~df.iloc[:,194].str.contains('compound|Compound', na=False) & \
                (df.iloc[:,194].str.contains('school|School', na=False))
mask_school.sum()

9

In [22]:
masks = mask_school | mask_house | mask_compoud

In [23]:
masks.sum()

389

In [24]:
df['Q45_other_place_listen'] = df.iloc[:,194]

In [25]:
df.loc[masks,'Q45_other_place_listen'] = np.NaN
df.loc[df.Q45_other_place_listen.notnull(),'Q45_other_place_listen'] = 1

In [26]:
df['Q45_other_place_listen'].isnull().sum(), df['Q45_other_place_listen'].notnull().sum()

(4581, 146)

- ### Q68_hat devices are available for eLearning in the school/area?
- ### If other please specify (HQ)

In [27]:
df.iloc[:,224].value_counts()

Physical radio                                      2
Radio                                               1
I don't know their types but they are there         1
Phones                                              1
Computer                                            1
Internet connection                                 1
No relearning material available in schools here    1
Non.                                                1
Name: If other please specify , dtype: int64

In [28]:
df.iloc[:,223].value_counts()

0.0    233
1.0      9
Name: Q68_6Other, dtype: int64

In [29]:
# exclude devices
index_dev = df[df.iloc[:,224].str.contains('radio|Radio|Internet|Phones|Computer') == True].iloc[:,224].index

In [30]:
# get other answers
index_other = df[df.iloc[:,224].str.contains('radio|Radio|Internet|Phones|Computer') == False].iloc[:,224].index

In [31]:
df['Q68_other_dev'] = df.iloc[:,224]

In [32]:
df.loc[index_dev, 'Q68_other_dev'] = 0
df.loc[index_other, 'Q68_other_dev'] = 1

## 3. Save new DF

In [33]:
df.to_csv('data/dataset_others_dummies.csv')